/* color fonts usables #048387 #fda94a #b6e0ec #ff8802 #04abab */
/*background-image: linear-gradient(#004173, #0979b0, #0cb7f2, #7cdaf9, #b6ffff);*/
header {
  background-image: url(../assets/img/banner.jpg);
}

header .navbar-collapse {
  flex-grow: 0;
}

body {
  background-image: linear-gradient(25deg, #b6ffff, #7cdaf9, #b6ffff);
}

body {
  color: #048387;
}

.marginXservicios,
.cuidadoresServicios,
.trasladosServicios,
.paseadoresServicios,
.guarderiasServicios,
.peluqueriasServicios,
.veterinariaServicios {
  margin-left: 1rem;
  margin-right: 1rem;
}

.serviciosMainGrid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "cuidadoresServicios"
    "trasladosServicios"
    "paseadoresServicios"
    "guarderiasServicios"
    "peluqueriaServicios"
    "veterinariaServicios";
}

.cuidadoresServicios {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: solid;
  border-top-color: #048387;
  border-right-color: #048387;
  border-bottom-color: #048387;
  border-left-color: #048387;
}

.trasladosServicios {
  margin-top: 6rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: solid;
  border-top-color: #048387;
  border-right-color: #048387;
  border-bottom-color: #048387;
  border-left-color: #048387;
}

.paseadoresServicios {
  margin-top: 6rem;
  margin-bottom: -24rem;
  border-radius: 1rem;
  border: solid;
  border-top-color: #048387;
  border-right-color: #048387;
  border-bottom-color: #048387;
  border-left-color: #048387;
}

.guarderiasServicios {
  margin-top: 30rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  border: solid;
  border-top-color: #048387;
  border-right-color: #048387;
  border-bottom-color: #048387;
  border-left-color: #048387;
}

.peluqueriasServicios {
  margin-top: 5rem;
  margin-bottom: -16rem;
  border-radius: 1rem;
  border: solid;
  border-top-color: #048387;
  border-right-color: #048387;
  border-bottom-color: #048387;
  border-left-color: #048387;
}

.veterinariaServicios {
  margin-top: 21rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: solid;
  border-top-color: #048387;
  border-right-color: #048387;
  border-bottom-color: #048387;
  border-left-color: #048387;
}

@media only screen and (max-width: 768px) {
  .serviciosMainGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "cuidadoresServicios"
      "trasladosServicios"
      "paseadoresServicios"
      "guarderiasServicios"
      "peluqueriaServicios"
      "veterinariaServicios";
  }

  .cuidadoresServicios {
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid;
    border-top-color: #048387;
    border-right-color: #048387;
    border-bottom-color: #048387;
    border-left-color: #048387;
  }

  .trasladosServicios {
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid;
    border-top-color: #048387;
    border-right-color: #048387;
    border-bottom-color: #048387;
    border-left-color: #048387;
  }

  .paseadoresServicios {
    margin-bottom: 30rem;
    margin-top: 5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid;
    border-top-color: #048387;
    border-right-color: #048387;
    border-bottom-color: #048387;
    border-left-color: #048387;
  }

  .guarderiasServicios {
    margin-bottom: 1rem;
    margin-top: -25rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid;
    border-top-color: #048387;
    border-right-color: #048387;
    border-bottom-color: #048387;
    border-left-color: #048387;
  }

  .peluqueriasServicios {
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid;
    border-top-color: #048387;
    border-right-color: #048387;
    border-bottom-color: #048387;
    border-left-color: #048387;
  }

  .veterinariaServicios {
    margin-bottom: 1rem;
    margin-top: 5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid;
    border-top-color: #048387;
    border-right-color: #048387;
    border-bottom-color: #048387;
    border-left-color: #048387;
  }

  .textServices {
    margin-left: 5rem;
  }

  .card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(3, 71, 12, 0.986) 0px 5px 10px
  }

}