.serviciosMainGrid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "cuidadoresServicios"
        "trasladosServicios"
        "paseadoresServicios"
        "guarderiasServicios"
        "peluqueriaServicios"
        "veterinariaServicios";
}

.cuidadoresServicios {
    cursor: map-get($estiloborder, pointer);
    @extend .marginXservicios;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-radius: map-get($estiloborder, radioborde);
    border: solid;
    border-top-color: map-get($estiloborder, color);
    border-right-color: map-get($estiloborder, color);
    border-bottom-color: map-get($estiloborder, color);
    border-left-color: map-get($estiloborder, color);
}

.trasladosServicios {
    cursor: map-get($estiloborder, pointer);
    @extend .marginXservicios;
    margin-top: 6rem;
    margin-bottom: 1rem;
    border-radius: map-get($estiloborder, radioborde);
    border: solid;
    border-top-color: map-get($estiloborder, color);
    border-right-color: map-get($estiloborder, color);
    border-bottom-color: map-get($estiloborder, color);
    border-left-color: map-get($estiloborder, color);
}

.paseadoresServicios {
    cursor: map-get($estiloborder, pointer);
    @extend .marginXservicios;
    margin-top: 6rem;
    margin-bottom: -24rem;
    border-radius: map-get($estiloborder, radioborde);
    border: solid;
    border-top-color: map-get($estiloborder, color);
    border-right-color: map-get($estiloborder, color);
    border-bottom-color: map-get($estiloborder, color);
    border-left-color: map-get($estiloborder, color);
}

.guarderiasServicios {
    cursor: map-get($estiloborder, pointer);
    @extend .marginXservicios;
    margin-top: 30rem;
    margin-bottom: 5rem;
    border-radius: map-get($estiloborder, radioborde);
    border: solid;
    border-top-color: map-get($estiloborder, color);
    border-right-color: map-get($estiloborder, color);
    border-bottom-color: map-get($estiloborder, color);
    border-left-color: map-get($estiloborder, color);
}

.peluqueriasServicios {
    cursor: map-get($estiloborder, pointer);
    @extend .marginXservicios;
    margin-top: 5rem;
    margin-bottom: -16rem;
    border-radius: map-get($estiloborder, radioborde);
    border: solid;
    border-top-color: map-get($estiloborder, color);
    border-right-color: map-get($estiloborder, color);
    border-bottom-color: map-get($estiloborder, color);
    border-left-color: map-get($estiloborder, color);
}

.veterinariaServicios {
    cursor: map-get($estiloborder, pointer);
    @extend .marginXservicios;
    margin-top: 21rem;
    margin-bottom: 2rem;
    border-radius: map-get($estiloborder, radioborde);
    border: solid;
    border-top-color: map-get($estiloborder, color);
    border-right-color: map-get($estiloborder, color);
    border-bottom-color: map-get($estiloborder, color);
    border-left-color: map-get($estiloborder, color);
}

