



header{
	display: grid;
	grid-template-columns: 100%
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
	"header"
	"article"
	"main"
	"footer";

	nav{
	background-image: url(../assets/img/banner.jpg);}
	
	li{
		list-style-type: none;
		display: inline;
		float: right;
		font-family: fantasy;
		font-size: 2rem
	}
}




