$fondoheader: url(../assets/img/banner.jpg);

header {
    background-image: $fondoheader;


    nav {
        float: right;
        font-family: fantasy;
        margin: 1rem;
        font-size: 3rem;
        padding-right: 3rem;


        li {
            display: inline-block;
            margin: 1rem;
            border-radius: 1rem 1rem 1rem 1rem;
            text-decoration-style: solid;

            a {

                color: #048387;

                &:link,
                a:visited,
                a:active {
                    text-decoration: none;
                }
            }

        }

    }
}


